[submodule "playground"]
	path = deps/playground
	url = https://github.com/MultiAgentLearning/playground
[submodule "pomcpp"]
	path = deps/pomcpp
	url = https://github.com/jw3il/pomcpp
[submodule "CrazyAra"]
	path = deps/CrazyAra
	url = https://github.com/QueensGambit/CrazyAra.git
