-e ./deps/playground
-e ./deps/pomcpp/py
numpy
matplotlib
imageio
torch>=1.9.0
zarr
numcodecs
tqdm
scikit-learn
tensorboard
rtpt
onnx
onnxsim
onnxruntime
simple-gpu-scheduler
# fix pyglet version as we use Python 3.7
pyglet==1.5.17
